body {
  background-color: beige;
}

.btn {
  width: 200px;
  height: 100px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
}

.btn--red {
  background-color: red;
  margin-right: 20px;
}

.btn--green {
  background-color: green;
}
